<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ktv_system"
        tools:targetApi="31">
        <activity
            android:name=".GequMingyaoActivity"
            android:exported="false" />
        <activity
            android:name=".GequOumeiActivity"
            android:exported="false" />
        <activity
            android:name=".GequYaogunActivity"
            android:exported="false" />
        <activity
            android:name=".GequLiuxingActivity"
            android:exported="false" />
        <activity
            android:name=".GexingXinxiActivity"
            android:exported="false" />
        <activity
            android:name=".GexingMingdanActivity"
            android:exported="false" />
        <activity
            android:name=".GequMingdanActivity"
            android:exported="false" />
        <activity
            android:name=".FazhufuActivity"
            android:exported="false" />
        <activity
            android:name=".FadanmuActivity"
            android:exported="false" />
        <activity
            android:name=".DiangeActivity"
            android:exported="false" />
        <activity
            android:name=".GexingActivity"
            android:exported="false" />
        <activity
            android:name=".GequActivity"
            android:exported="false" />
        <activity
            android:name=".YaokongActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>